<div class = "overview-header text-center">
  <%= image_tag "logos/MyDashLogo1.png", id:"logo-overview" %>
  <div class="welcome">
    <p>Welcome</p>
    <h1><%= current_user.first_name %></h1>
  </div>
</div>
<%# ------------------------------------------------- 3 Cards -------------------------------------------------------------------- %>
<div class = "container-overview">
  <div class = "boxes d-flex justify-content-evenly text-center">
    <div class="box">
      <p style="font-size: 25px; margin-top: 9px; margin-bottom: 0px; color: #5BC0BE"><strong><%= current_user.vehicles.count %></strong></p>
      <p style="font-size: 16px; margin-top: 0px; margin-bottom: 5px">Registered</p>
      <p style="font-size: 16px; margin-top: -7px; margin-bottom: 13px">Vehicles</p>
    </div>
    <div class="box">
      <p style="font-size: 25px; margin-top: 9px; margin-bottom: 0px; color: #3A506B"><strong>
          <% @sum_of_undone_maintenance = 0 %>
          <% current_user.vehicles.each do |vehicle|  %>
            <% vehicle.maintenances.where(status: false).each do |maintenance| %>
              <%  @sum_of_undone_maintenance += 1 %>
            <% end %>
          <% end %>
          <%= @sum_of_undone_maintenance %>
        </strong>
      </p>
      <p style="font-size: 16px; margin-top: 0px; margin-bottom: 5px">Undone</p>
      <p style="font-size: 16px; margin-top: -7px; margin-bottom: 13px">Tasks</p>
    </div>
    <div class="box">
      <div>
        <p style="font-size: 25px; margin-top: 9px; margin-bottom: 0px; color: #FF595E"><strong>
            <% @sum_of_undone_problems = 0 %>
            <% current_user.vehicles.each do |vehicle|  %>
              <% vehicle.problems.where(status: false).each do |problem| %>
                <%  @sum_of_undone_problems += 1 %>
              <% end %>
            <% end %>
            <%= @sum_of_undone_problems %>
          </strong>
        </p>
      </div>
      <div>
        <p style="font-size: 16px; margin-top: 0px; margin-bottom: 5px">Unresolved</p>
        <p style="font-size: 16px; margin-top: -7px; margin-bottom: 13px">Problems</p>
      </div>
    </div>
  </div>
    <%# ------------------------------------------------- Graph -------------------------------------------------------------------- %>
  <div class="small-overview-cards mt-4">
    <h2 class="d-flex justify-content-center mt-1"><strong>Total Expenses</strong></h2>
    <%= column_chart @info %>
  </div>

    <%# ------------------------------------------------- Bottom Cards ------------------------------------------------------------ %>

    <% @sum_maintenances = 0 %>
    <% @sum_undone_maintenances = 0 %>
    <% @sum_problems = 0 %>
    <% @sum_undone_problems = 0 %>
    <% @sum_wishlist = 0 %>
    <% @sum_undone_wishlist = 0 %>
    <% current_user.vehicles.each do |vehicle|  %>
      <% @sum_maintenances += vehicle.maintenances.where(status: true).sum(:price) %>
      <% @sum_undone_maintenances += vehicle.maintenances.where(status: false).sum(:price) %>
      <% @sum_problems += vehicle.problems.where(status: true).sum(:price) %>
      <% @sum_undone_problems += vehicle.problems.where(status: false).sum(:price) %>
      <% @sum_wishlist += vehicle.wishlists.where(status: true).sum(:price) %>
      <% @sum_undone_wishlist += vehicle.wishlists.where(status: false).sum(:price) %>
    <% end %>

    <% @total_spent = @sum_maintenances + @sum_problems + @sum_wishlist %>
    <% @total_spend = @sum_undone_maintenances + @sum_undone_problems + @sum_undone_wishlist%>

    <div class="d-flex justify-content-evenly mt-4">
      <div class="total-spent">
        <h3>Total Spent</h3>
        <p span style="color: #F81414"><%= @total_spent %></span> <span style="color: #1A1818">€</p>
      </div>
      <div class="total-spent">
        <h3>To Spend</h3>
        <p span style="color: #5BC0BE"><%= @total_spend %></span> <span style="color: #1A1818"> €</p>
      </div>
    </div>



  <div class="overview-box">
    <h2 class="mt-1"><strong>Overview</strong></h2>
    <ul>
      <li>
        <div>To spend on Maintenances:</div>
        <div><%= @sum_undone_maintenances %> €</div>
      </li>
      <li>
        <div>To spent on Problems:</div>
        <div><%= @sum_undone_problems %> €</div>
      </li>
      <li>
        <div>To spent on Wishlist Items:</div>
        <div><%= @sum_undone_wishlist %> €</div>
      </li>
      <li>
        <div>Spent on Maintenances:</div>
        <div><%=@sum_maintenances %> €</div>
      </li>
      <li>
        <div>Spent on Problems:</div>
        <div><%= @sum_problems %> €</div>
      </li>
      <li>
        <div>Spent on Wishlist Items:</div>
        <div><%= @sum_wishlist %> €</div>
      </li>
    </ul>
  </div>
</div>
