<h1>Problem Details</h1>

<h2><strong>Title:</strong> <%= @problem.title %></h2>
<h3><strong>Description: </strong><%= @problem.description %></h3>
<h3><strong>Priority: </strong><%= @problem.priority %></h3>
<h3><strong>Price: </strong><%= @problem.price %></h3>
<h3><strong>Status: </strong><%= @problem.status %></h3>


