<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators mt-5">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item  bg1 active ">
      <div class="wrapper">
        <div class="sub-carousel">
          <div><%= image_tag "logos/MyDashLogo2.png", class: "logo" %></div>
          <h1><strong>My Dash</strong></h1>
          <p>Everything you need <br>
            to take care of your vehicle in <br>
            one place .</p>
        </div>
        <div class="button w-100 mb-5">
          <% link_path = user_signed_in? ? overview_index_path : new_user_session_path %>
          <%= link_to "Let's get Started", link_path, class: "btn btn-light btn-lg w-75 rounded-pill" %>
        </div>
      </div>
    </div>
    <div class="carousel-item bg2">
      <div class="wrapper">
        <div class="sub-carousel">
          <div><%= image_tag "logos/MyDashLogo2.png", class: "logo" %></div>
          <h1><strong>Reminder</strong></h1>
          <p>Keep up with your <br>
            vehicle maintenance</p>
        </div>
        <div class="button w-100 mb-5">
          <% link_path = user_signed_in? ? overview_index_path : new_user_session_path %>
          <%= link_to "Let's get Started", link_path, class: "btn btn-light btn-lg w-75 rounded-pill" %>
        </div>
      </div>
    </div>
    <div class="carousel-item bg3">
      <div class="wrapper">
        <div class="sub-carousel">
          <div><%= image_tag "logos/MyDashLogo2.png", class: "logo" %></div>
          <h1><strong>Safer</strong></h1>
          <p>Add items to your wishlist <br>
            know if the prices go <br>
            UP or Down</p>
        </div>
        <div class="button w-100 mb-5">
          <% link_path = user_signed_in? ? overview_index_path : new_user_session_path %>
          <%= link_to "Let's get Started", link_path, class: "btn btn-light btn-lg w-75 rounded-pill" %>
        </div>
      </div>
    </div>
    <div class="carousel-item bg4">
      <div class="wrapper">
        <div class="sub-carousel">
          <div><%= image_tag "logos/MyDashLogo2.png", class: "logo" %></div>
          <h1><strong>Better</strong></h1>
          <p>Keep track of your expenses <br>
            get a real-time average</p>
        </div>
        <div class="button w-100 mb-5">
          <% link_path = user_signed_in? ? overview_index_path : new_user_session_path %>
          <%= link_to "Let's get Started", link_path, class: "btn btn-light btn-lg w-75 rounded-pill" %>
        </div>
      </div>
    </div>
  </div>
