<h1>Maintenance Details</h1>

<h2><strong>Title:</strong> <%= @maintenance.title %></h2>
<h3><strong>Description: </strong><%= @maintenance.description %></h3>
<h3><strong>Priority: </strong><%= @maintenance.priority %></h3>
<h3><strong>Recorrency: </strong><%= @maintenance.recorrency %></h3>
<h3><strong>Price: </strong><%= @maintenance.price %></h3>
<h3><strong>Status: </strong><%= @maintenance.status %></h3>
