<h1>All vehicles</h1>

  <% @vehicles.each do |vehicle| %>
    <h2><strong>Owner:</strong> <%= vehicle.user.first_name %> <%= vehicle.user.last_name %></h2>
    <h3><strong>Make: </strong><%= vehicle.make %></h3>
    <h3><strong>Model: </strong><%= link_to vehicle.model, vehicle_path(vehicle) %></h3>
    <h3><strong>Plate: </strong><%= vehicle.plate %></h3>
    <h3><strong>year: </strong><%= vehicle.year %></h3>
    <h3><strong>Mileage: </strong><%= vehicle.mileage %> Km</h3>
    <h3><strong>Driver: </strong><%= vehicle.driver %></h3>
    <%= link_to "Edit", edit_vehicle_path(vehicle) %>
    <%= link_to vehicle_path(vehicle.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
  <i class="fa-solid fa-trash-can"></i>
    <% end %>
  <% end %>

<div class="d-flex">
  <%= link_to "Add New Vehicle", new_vehicle_path, class: "btn btn-success" %>
</div>
