<div class = 'd-flex justify-content-center my-3 border-bottom'>
  <h2>Your Vehicles</h2>
</div>
<% @vehicles.each do |vehicle| %>
  <div class="col-xs-12 col-md-4 col-offset-4 mx-2">
    <div class="card-product">
      <%= link_to vehicle_path(vehicle) do %>
        <% if vehicle.type_of_vehicle == 'Car' %>
          <img src="https://www.carlogos.org/car-logos/<%= vehicle.make.downcase %>-logo.png" alt="Car Brand Logo" />
        <% else %>
            <%= image_tag "brands/#{vehicle.make.downcase}.png" %>
        <% end %>
      <% end %>
      <div class="card-product-infos">
        <%= link_to vehicle_path(vehicle) do %>
          <h2><%= vehicle.make %> <%= vehicle.model %></h2>
        <% end %>
        <p><%= vehicle.plate %></p>
        <p>Driver: <%= vehicle.driver %></p>
        <%= link_to "Edit", edit_vehicle_path(vehicle) %>
        <%= link_to vehicle_path(vehicle.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
      <div class="card-product-alart mt-5 me-3">
        <p> <%= vehicle.problems.count %> </p>
        <p>Problems</p>
      </div>
    </div>
  </div>
</div>
<br>
</div>
<% end %>
<div class="col-xs-12 col-md-4 col-offset-4 mx-2">
  <div class="card-product mb-4">
    <div class="card-product-infos">
      <div class="d-flex justify-content-center align-items-center">
        <%= link_to new_vehicle_path do %>
         <i class="fa-solid fa-circle-plus" id = 'AddBtn'></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
