
<div class = "vehicles-header">
  <%= image_tag "logos/MyDashLogo1.png", id:"logo-overview" %>
  <h3 class="vehicle-info-head"><strong><%= @vehicle.make %> <%= @vehicle.model %> - <%= @vehicle.year %></strong></h3>
  <p><%= @vehicle.plate %></p>
</div>


<div class= 'd-flex justify-content-center mt-3'>
  <ul class="nav nav-tabs w-100 justify-content-evenly" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if params[:active] == 'overview' || params[:active].blank? %>" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fa-regular fa-file-lines"></i> Overview</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if params[:active] == 'maintenance' %>" id="maintenance-tab" data-bs-toggle="tab" data-bs-target="#maintenance" type="button" role="tab" aria-controls="maintenance" aria-selected="false"><i class="fa-solid fa-screwdriver-wrench"></i> Maintenance</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if params[:active] == 'problems' %>" id="problems-tab" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false"><i class="fa-solid fa-circle-exclamation"></i> Problems</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if params[:active] == 'wishlist' %>" id="wishlist-tab" data-bs-toggle="tab" data-bs-target="#wishlist" type="button" role="tab" aria-controls="wishlist" aria-selected="false"><i class="fa-solid fa-square-check"></i> Wishlist</button>
    </li>
  </ul>
</div>
<div class="tab-content mt-4" id="myTabContent">
  <div class="tab-pane fade <%= 'active show' if params[:active] == 'overview' || params[:active].blank? %>" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <div class="small-overview-cards">
      <h2 class="d-flex justify-content-center mt-1"><strong>Expenses</strong></h2>
      <%= column_chart @info %>
    </div>
    <div class="overview-box">
      <h2 class="mt-1"><strong>Overview</strong></h2>
      <ul>
        <li>
          <div>Maintenance tasks to do:</div>
          <div><%= @vehicle.maintenances.where(status: false).count %></div>
        </li>
        <li>
          <div>Problems to resolve:</div>
          <div><%= @vehicle.problems.where(status: false).count %></div>
        </li>
        <li>
          <div>Wishlist Items to buy:</div>
          <div><%= @vehicle.wishlists.where(status: false).count %></div>
        </li>
        <li>
          <div>Spent on Maintenance:</div>
          <div><%= @vehicle.maintenances.where(status: true).sum(:price).round %>€</div>
        </li>
        <li>
          <div>Spent on Problems:</div>
          <div><%= @vehicle.problems.where(status: true).sum(:price).round %>€</div>
        </li>
        <li>
          <div>Spent on Wishlist items:</div>
          <div><%= @vehicle.wishlists.where(status: true).sum(:price).round %>€</div>
        </li>
        <li>
          <div>Needed to spend on Maintenance:</div>
          <div><%= @vehicle.maintenances.where(status: false).sum(:price).round %>€</div>
        </li>
        <li>
          <div>Needed to spend on Problems:</div>
          <div><%= @vehicle.problems.where(status: false).sum(:price).round %>€</div>
        </li>
        <li>
          <div>Need to spend on Wishlist items:</div>
          <div><%= @vehicle.wishlists.where(status: false).sum(:price).round %>€</div>
        </li>
      </ul>
      <h2>Total Money Spent</h2>
      <h2 style="color: #FF595E"> <strong><%= @info.values.sum %> €</strong></h2>
    </div>
  </div>
  <%# ------------------------------------------------- Maintenance Tab -------------------------------------------------------------------- %>
  <div class="tab-pane fade w-100 <%= 'active show' if params[:active] == 'maintenance' %>" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab" data-controller="toggle-switch">
    <div class='mx-3'>
      <div class='my-3 text-center'>
        <h2 style="font-size: 22px"><strong>Your Maintenance Tasks</strong></h2>
      </div>
      <div class="form-check form-switch" >
        <label class="form-check-label mb-3" for="flexSwitchCheckDefault">To do Tasks: </label>
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->toggle-switch#toggle">
      </div>
      <ul class="list-group ListStyle" data-toggle-switch-target="list">
        <% @vehicle.maintenances.where(status: false).each do |maintenance| %>
          <li class="list-group-item d-flex justify-content-between" data-controller = "display-info">
            <div class="wishlist-infos" data-display-info-target="infos">
              <h2 style="font-size: 18px" class='m-0'><strong><%= maintenance.title %></strong></h2>
              <p class="d-none mt-1" data-display-info-target="form">
                <%= maintenance.description %> <br>
                Priority: <%= maintenance.priority %><br>
                Price: <%= maintenance.price.round %>€ <br>
                <% if maintenance.done_date.nil? %>
                <% else %>
                  Last done at: <%= maintenance.done_date.to_formatted_s(:short) %> <br>
                <% end %>
                <% if maintenance.repeat? %>
                  Repeat: Yes <br>
                <% else %>
                  Repeat: No <br>
                <% end %>
                Controls: <br>
                <%= link_to "Edit", edit_vehicle_maintenance_path(@vehicle, maintenance), class: "btn btn-sm btn-secondary rounded-pill" %>
                <%= link_to "Delete", vehicle_maintenance_path(@vehicle, maintenance), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-secondary rounded-pill" %>
                <%= link_to "Done", done_vehicle_maintenance_path(@vehicle, maintenance), data: { turbo_method: :patch, turbo_confirm: "Is this task done?" }, class: "btn btn-sm btn-secondary rounded-pill" %>
              </p>
            </div>
            <i class="fa-solid fa-chevron-down" data-action="click->display-info#displayForm"></i>
          </li>
        <% end %>
      </ul>
      <%# -------------------------------------- COMPLETED MAINTENANCE TASKS ----------------------------------------------------------------- %>
      <ul class="list-group d-none" data-toggle-switch-target="list">
        <h4 style="font-size: 16px; font-weight: bold">Completed tasks</h4>
        <% @vehicle.maintenances.where(status: true).each do |maintenance| %>
          <li class="list-group-item d-flex justify-content-between" data-controller = "display-info">
            <div class="wishlist-infos" data-display-info-target="infos">
              <h2 style="font-size: 18px" class='m-0'><strong><%= maintenance.title %></strong></h2>
              <p class="d-none" data-display-info-target="form">
                <%= maintenance.description %> <br>
                Price: <%= maintenance.price.round %>€ <br>
                Done at: <%= maintenance.done_date.to_formatted_s(:short) %> <br>
                <%= link_to "Delete", vehicle_maintenance_path(@vehicle, maintenance), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-secondary rounded-pill" %>
              </p>
            </div>
            <i class="fa-solid fa-chevron-down" data-action="click->display-info#displayForm"></i>
          </li>
        <% end %>
      </ul>
      <div class="plus-card">
        <%= link_to new_vehicle_maintenance_path(@vehicle) do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%# ------------------------------------------------- Problems Tab -------------------------------------------------------------------- %>
  <div class="tab-pane fade w-100 <%= 'active show' if params[:active] == 'problems' %>" id="problems" role="tabpanel" aria-labelledby="problems-tab" data-controller="toggle-switch">
    <div class='mx-3'>
      <div class='my-3 text-center'>
        <h2 style="font-size: 22px"><strong>Vehicle Problems</strong></h2>
      </div>
      <div class="form-check form-switch  w-100 align-items-start" >
        <label class="form-check-label mb-3" for="flexSwitchCheckDefault">To do :</label>
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->toggle-switch#toggle">
      </div>
      <ul class="list-group" data-toggle-switch-target="list">
        <% @vehicle.problems.where(status: false).each do |problem| %>
          <li class="problem_card">
            <div class="title-price">
              <% if problem.priority == "High" %>
                <h3><i class="fa-solid fa-circle" style="color:#FF4633;"></i> <%= problem.title %></h3>
                <h4><%= problem.price %> EUR</h4>
              <% elsif problem.priority == "Medium"  %>
                <h3><i class="fa-solid fa-circle" style="color:#FFB233;"></i> <%= problem.title %></h3>
                <h4><%= problem.price %> EUR</h4>
              <% else %>
                <h3><i class="fa-solid fa-circle" style="color:#F4F13B;"></i> <%= problem.title %></h3>
                <h4><%= problem.price %> EUR</h4>
              <% end %>
            </div>
            <p><%= problem.description %></p>
            <p class="priority">Priority: <%= problem.priority %></p>
            <div class="problem_icons">
              <div class="mx-4">
                <%= link_to edit_vehicle_problem_path(@vehicle, problem) do %>
                  <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->display-info#displayForm"></i>
                <% end %>
              </div>
              <div>
                <%= link_to vehicle_problem_path(@vehicle, problem), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to done_vehicle_problem_path(@vehicle, problem), data: { turbo_method: :patch, turbo_confirm: "Is this task done?" },class: "btn rounded-pill btn-sm btn-secondary " do %>
                Mark done
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <%# ---------------------------------------------- COMPLETED PROBLEMS ----------------------------------------------------------------- %>
      <ul class="list-group d-none" data-toggle-switch-target="list">
        <h4 style="font-size: 16px; font-weight: bold">Problems Solved</h4>
        <% @vehicle.problems.where(status: true).each do |problem| %>
          <li class="problem_card">
            <div class="title-price">
              <% if problem.priority == "High" %>
                <h3><i class="fa-solid fa-circle" style="color:#FF4633;"></i> <%= problem.title %></h3>
                <h4><%= problem.price %> EUR</h4>
              <% elsif problem.priority == "Medium"  %>
                <h3><i class="fa-solid fa-circle" style="color:#FFB233;"></i> <%= problem.title %></h3>
                <h4><%= problem.price %> EUR</h4>
              <% else %>
                <h3><i class="fa-solid fa-circle" style="color:#F4F13B;"></i> <%= problem.title %></h3>
                <h4><%= problem.price %> EUR</h4>
              <% end %>
            </div>
            <p><%= problem.description %></p>
            <p class="priority">Priority: <%= problem.priority %></p>
            <div class="problem_icons d-flex justify-content-end">
              <div class="mx-4">
                <div>
                  <%= link_to vehicle_problem_path(@vehicle, problem), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="plus-card">
          <%= link_to new_vehicle_problem_path(@vehicle) do %>
            <i class="fa-solid fa-circle-plus"></i>
          <% end %>
        </div>
      </div>
    </div>
    <%# ------------------------------------------------- Wishlist Tab -------------------------------------------------------------------- %>
    <div class="tab-pane fade w-100 <%= 'active show' if params[:active] == 'wishlist' %>" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab" data-controller="toggle-switch">
      <div class='mx-3'>
        <div class='my-3 text-center'>
          <h2 style="font-size: 22px"><strong>Your Wishlist</strong></h2>
        </div>
        <div class="form-check form-switch w-100 align-items-start" >
          <label class="form-check-label mb-3" for="flexSwitchCheckDefault">To do :</label>
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->toggle-switch#toggle">
        </div>
        <ul class="list-group ListStyle" data-toggle-switch-target="list">
          <% @vehicle.wishlists.where(status: false).each do |wishlist| %>
            <li class="list-group-item d-flex justify-content-between" data-controller = "display-info">
              <div class="wishlist-infos" data-display-info-target="infos">
                <% @url = wishlist.url %>
                <h4 style="font-size: 18px;"><strong><%= link_to wishlist.name, "#{wishlist.url}", :target => "_blank" %>&nbsp;<span style="font-size: 16px; margin-left: 10px"><%= wishlist.price %> EUR</strong></span>&nbsp;</h4>
                <p class="d-none " data-display-info-target="form">
                  <br>
                  Store Page: <%= link_to wishlist.url, "#{wishlist.url}", :target => "_blank" %> <br>
                  Controls: <br>
                  <%= link_to "Edit", edit_vehicle_wishlist_path(@vehicle, wishlist), class: "btn btn-sm btn-secondary rounded-pill" %>
                  <%= link_to "Delete", vehicle_wishlist_path(@vehicle, wishlist), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-secondary rounded-pill" %>
                  <%= link_to "Done", done_vehicle_wishlist_path(@vehicle, wishlist), data: { turbo_method: :patch, turbo_confirm: "Has this item been bought?" }, class: "btn btn-sm btn-secondary rounded-pill" %>
                </p>
              </div>
              <p><i class="fa-solid fa-chevron-down" data-action="click->display-info#displayForm"></i></p>
            </li>
          <% end %>
        </ul>
        <%# ---------------------------------------------- Bought Items ----------------------------------------------------------------- %>
        <ul class="list-group d-none" data-toggle-switch-target="list">
          <h4 style="font-size: 16px; font-weight: bold">Bought Items: </h4>
          <% @vehicle.wishlists.where(status: true).each do |wishlist| %>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= wishlist.name %>&nbsp;</p>
              <p><%= wishlist.price %>EUR&nbsp;</p>
              <%= link_to vehicle_wishlist_path(@vehicle, wishlist), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="plus-card">
          <%= link_to new_vehicle_wishlist_path(@vehicle) do %>
            <i class="fa-solid fa-circle-plus"></i>
          <% end %>
        </div>
      </div>
      <%# ---------------------------------------------- Bought Items ----------------------------------------------------------------- %>
    </div>
