<div class = 'd-flex justify-content-center mt-5'>
  <h2 style = 'font-size: 20px'><strong><%= @vehicle.make %> <%= @vehicle.model %> - <%= @vehicle.year %></strong></h2>
</div>
<div class = 'd-flex justify-content-center'>
  <p><%= @vehicle.plate %></p>
</div>

<div class= 'd-flex justify-content-center mt-3'>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="maintenance-tab" data-bs-toggle="tab" data-bs-target="#maintenance" type="button" role="tab" aria-controls="maintenance" aria-selected="false">Maintenance</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="problems-tab" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false">Problems</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="wishlist-tab" data-bs-toggle="tab" data-bs-target="#wishlist" type="button" role="tab" aria-controls="wishlist" aria-selected="false">Wishlist</button>
    </li>
  </ul>
</div>


<div class="tab-content d-flex justify-content-center mt-4" id="myTabContent">
  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <h2 class="d-flex justify-content-center">Expenses</h2>
    <div class="small-overview-cards">
      <%= column_chart @info %>
    </div>
      <div class="overview-box">
        <h3>Overview</h3>
        <h6>Total Money Spent <strong><%= @info.values.sum %> €</strong></h6>
        <ul>
          <li><div>Maintenance Tasks:</div><div><%= @vehicle.maintenances.count %></div></li>
          <li><div>Problems:</div> <div><%= @vehicle.problems.count %></div></li>
          <li><div>Wishlist Items:</div> <div><%= @vehicle.wishlists.count %></div></li>
          <li><div>Spent on Maintenance:</div> <div><%= @vehicle.maintenances.sum(:price).round %>€</div></li>
          <li><div>Spent on Problems:</div> <div><%= @vehicle.problems.sum(:price).round %>€</div></li>
          <li><div>Spent on Wishlist items:</div> <div><%= @vehicle.wishlists.sum(:price).round %>€</div></li>
        </ul>
    </div>
  </div>




  <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
    <div class='mx-3'>
      <div class='mt-3 text-center'>
        <h2 class = "heading">Your Maintenance Tasks</h2>
      </div>
      <ul class="list-group">
        <% @vehicle.maintenances.each do |maintenance| %>
          <li class="list-group-item d-flex justify-content-between" data-controller = "display-info">
            <div class="wishlist-infos" data-display-info-target="infos">
              <p><%= maintenance.title %> <small><%= maintenance.price%>EUR&nbsp;</small></p>
                <%= link_to edit_vehicle_maintenance_path(@vehicle, maintenance) do %>
                  <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->display-info#displayForm"></i>
                <% end %>
                  <i class="fa-solid fa-chevron-down" data-action="click->display-info#displayForm"></i>
                <%= link_to vehicle_maintenance_path(@vehicle, maintenance), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              <p class="d-none" data-display-info-target="form">test</p>
            </div>
            <div><i class="fa-solid fa-ellipsis"></i></div>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add", new_vehicle_maintenance_path(@vehicle), class: "AddButton btn btn-success" %>
    </div>
  </div>
  <div class="tab-pane fade" id="problems" role="tabpanel" aria-labelledby="problems-tab">
    <div class='mx-3'>
      <div class='mt-3 text-center'>
        <h2 class= "heading" >Your Problems</h2>
      </div>
      <ul class="list-group">
        <% @vehicle.problems.each do |problem| %>
          <li class="list-group-item d-flex justify-content-between">
            <p><%= problem.title %>&nbsp;</p>
            <p><small><%= problem.price %>EUR&nbsp;</small></p>
            <%= link_to edit_vehicle_problem_path(@vehicle, problem) do %>
                  <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->display-info#displayForm"></i>
                <% end %>
                <%= link_to vehicle_problem_path(@vehicle, problem), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
            <p><i class="fa-solid fa-ellipsis"></i> <i class="fa-solid fa-chevron-down"></i></p>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add", new_vehicle_problem_path(@vehicle), class: "AddButton btn btn-success" %>
    </div>
  </div>
  <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
    <div class='mx-3'>
      <div class='mt-3 text-center'>
        <h2 class="heading">Your Wishlist</h2>
      </div>
      <ul class="list-group">
        <% @vehicle.wishlists.each do |wishlist| %>
          <li class="list-group-item d-flex justify-content-between">
            <p><%= wishlist.name %>&nbsp;</p>
            <p><small><%= wishlist.price %>EUR&nbsp;</small></p>
            <%= link_to edit_vehicle_wishlist_path(@vehicle, wishlist) do %>
                  <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->display-info#displayForm"></i>
                <% end %>
                <%= link_to vehicle_wishlist_path(@vehicle, wishlist), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
            <p><i class="fa-solid fa-ellipsis"></i> <i class="fa-solid fa-chevron-down"></i></p>
          </li>

        <% end %>
      </ul>
      <%= link_to "Add", new_vehicle_wishlist_path(@vehicle), class: "AddButton btn btn-success" %>
    </div>
  </div>
