<!DOCTYPE html>
<html>
  <head>
    <title>MyDash - Best Way to take care of your vehicles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <%= yield %>
    <%= render "shared/bottom_navbar" unless @disable_nav %>

  </body>
</html>
